<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1 th:text="#{cus.createLink}">Create customer</h1>
<p>
    <a href="/list" th:text="#{cus.customerList}">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-customer}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td th:text="#{cus.firstName}+':'">First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td th:text="#{cus.lastName}+':'">Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{cus.createLink}"></td>
        </tr>
    </table>
</form>
</body>
</html>