<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>

<h1 th:text="#{cus.deleteCustomer}">Delete customer</h1>
<p>
    <a href="/list" th:text="#{cus.customerList}">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/delete-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{cus.firstName}">First name:</td>
            <td th:text="${customer.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{cus.lastName}">Last name:</td>
            <td th:text="${customer.lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{cus.deleteCustomer}" ></td>
        </tr>
    </table>
</form>
</body>
</html>