
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light shadow " style="background-color: #e1e2dc">
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="https://www.furama.com/images/LOGOFurama_4C_Normal.png" style="width: 150px; height: 30px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/customer/list">Customer
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="employee-list">Employee</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Service</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


